Repository joshSzep/therobotoverlord-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, mypy, pyright, bandit

ty:
  name: ty
  entry: uv run ty check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - --ignore-missing-imports
  - --show-error-codes
  - --explicit-package-bases

pyright:
  name: pyright
  entry: uv run pyright
  language: system

bandit:
  name: bandit
  entry: uv run bandit
  language: system
  args:
  - -r
  - src/
  - -f
  - json
  - --ini
  - .bandit
  pass_filenames: false

Fix a bunch of tests
  migrations/001_initial_schema.sql
  src/therobotoverlord_api/api/auth.py
  src/therobotoverlord_api/api/badges.py
  src/therobotoverlord_api/api/leaderboard.py
  src/therobotoverlord_api/api/queue.py
  src/therobotoverlord_api/api/rbac.py
  src/therobotoverlord_api/api/tags.py
  src/therobotoverlord_api/api/topics.py
  src/therobotoverlord_api/auth/decorators.py
  src/therobotoverlord_api/auth/dependencies.py
  src/therobotoverlord_api/auth/middleware.py
  src/therobotoverlord_api/database/repositories/topic.py
  src/therobotoverlord_api/main.py
  tests/test_api/conftest.py
  tests/test_api/test_badges_coverage.py
  tests/test_api/test_loyalty_score_coverage.py
  tests/test_api/test_queue_coverage.py
  tests/test_api/test_translations_coverage.py
  tests/test_auth/conftest.py
  tests/test_auth/test_api_endpoints.py
  tests/test_auth/test_middleware.py
  tests/test_leaderboard_api.py
Due: ty, mypy, pyright, bandit

Whitespace
  tests/test_api/conftest.py
Due: ty, mypy, pyright

Fix all linter and type checker errors
  src/therobotoverlord_api/api/auth.py
  src/therobotoverlord_api/auth/decorators.py
  src/therobotoverlord_api/auth/dependencies.py
  src/therobotoverlord_api/auth/service.py
  tests/test_api/conftest.py
Due: ty, mypy, pyright, bandit

Alignment and tests
  src/therobotoverlord_api/database/models/__init__.py
  src/therobotoverlord_api/database/models/base.py
  src/therobotoverlord_api/database/models/post.py
  src/therobotoverlord_api/database/models/queue.py
  src/therobotoverlord_api/database/models/user.py
  src/therobotoverlord_api/database/models/user_session.py
  src/therobotoverlord_api/database/repositories/__init__.py
  src/therobotoverlord_api/database/repositories/queue.py
  src/therobotoverlord_api/database/repositories/user.py
  src/therobotoverlord_api/database/repositories/user_session.py
  tests/test_database/test_repositories/test_user.py
Due: ty, mypy, pyright, bandit

Enums in the migration now aligned
  migrations/001_initial_schema.sql
Due: none

Alignment Alignment Alignment. Tests.
  migrations/002_schema_alignment_fixes.sql
  src/therobotoverlord_api/api/appeals.py
  src/therobotoverlord_api/database/models/__init__.py
  src/therobotoverlord_api/database/models/appeal.py
  src/therobotoverlord_api/database/models/appeal_with_editing.py
  src/therobotoverlord_api/database/models/post.py
  src/therobotoverlord_api/database/models/sanction.py
  src/therobotoverlord_api/database/models/tos_screening_queue.py
  src/therobotoverlord_api/database/repositories/appeal.py
  src/therobotoverlord_api/database/repositories/sanction.py
  src/therobotoverlord_api/services/appeal_service.py
  tests/api/test_appeals_comprehensive.py
  tests/api/test_appeals_edge_cases.py
  tests/api/test_appeals_editing.py
  tests/api/test_appeals_moderator.py
  tests/services/test_appeal_service_editing.py
  tests/services/test_content_restoration_service.py
  tests/test_api/test_posts_comprehensive.py
  tests/test_api/test_tos_screening.py
  tests/test_api/test_users.py
  tests/test_database/test_models/test_post.py
  tests/test_database/test_repositories/test_post.py
  tests/test_edge_cases/test_flag_edge_cases.py
  tests/test_integration/test_flag_loyalty_integration.py
  tests/test_repositories/test_appeal_repository_comprehensive.py
  tests/test_services/test_appeal_service.py
  tests/test_services/test_flag_service.py
  tests/test_services/test_user_service.py
  tests/test_workers/test_post_worker.py
Due: ty, mypy, pyright, bandit

Cleanup unneccessary migration
  migrations/002_schema_alignment_fixes.sql
Due: none

Robot tagging go time
  src/therobotoverlord_api/api/tags.py
  src/therobotoverlord_api/api/topics.py
  src/therobotoverlord_api/config/settings.py
  src/therobotoverlord_api/services/ai_tag_service.py
  src/therobotoverlord_api/services/llm_client.py
  src/therobotoverlord_api/services/provider_factory.py
  src/therobotoverlord_api/services/tag_service.py
  tests/test_api/test_tags.py
  tests/test_api/test_tags_auth_fixed.py
  tests/test_api/test_tags_fixed_auth.py
  tests/test_services/test_provider_factory.py
  tests/test_services/test_tag_service.py
  uv.lock
Due: ty, mypy, pyright, bandit

disabled means trash
  tests/test_services/test_dashboard_service.py.disabled
Due: none

ValidationErrors be gone
  justfile
  src/therobotoverlord_api/database/repositories/post.py
  src/therobotoverlord_api/database/repositories/topic.py
Due: ty, mypy, pyright, bandit

auth it up
  src/therobotoverlord_api/config/auth.py
Due: ty, mypy, pyright, bandit

Login via email, now a feature.
  migrations/001_initial_schema.sql
  pyproject.toml
  scripts/start_api.sh
  src/therobotoverlord_api/api/auth.py
  src/therobotoverlord_api/auth/dependencies.py
  src/therobotoverlord_api/auth/middleware.py
  src/therobotoverlord_api/auth/models.py
  src/therobotoverlord_api/auth/service.py
  src/therobotoverlord_api/auth/session_service.py
  src/therobotoverlord_api/config/auth.py
  src/therobotoverlord_api/config/redis.py
  src/therobotoverlord_api/database/models/user.py
  src/therobotoverlord_api/database/models/user_session.py
  src/therobotoverlord_api/database/repositories/loyalty_score.py
  src/therobotoverlord_api/database/repositories/user.py
  src/therobotoverlord_api/database/repositories/user_session.py
  src/therobotoverlord_api/services/password_service.py
  src/therobotoverlord_api/services/rate_limiting_service.py
  src/therobotoverlord_api/workers/health_monitor.py
  tests/test_auth/test_auth_service_comprehensive.py
  tests/test_auth/test_session_service.py
  tests/test_config/test_redis.py
  tests/test_database/test_models/test_user.py
  tests/test_database/test_repositories/test_user.py
  uv.lock
Due: ty, mypy, pyright, bandit

feat: add leaderboard worker system and refactor worker architecture
  docker-compose.yml
  migrations/001_initial_schema.sql
  scripts/start_workers.py
  src/therobotoverlord_api/api/leaderboard.py
  src/therobotoverlord_api/api/topics.py
  src/therobotoverlord_api/database/models/leaderboard.py
  src/therobotoverlord_api/database/repositories/leaderboard.py
  src/therobotoverlord_api/database/repositories/loyalty_score.py
  src/therobotoverlord_api/services/appeal_service.py
  src/therobotoverlord_api/services/leaderboard_service.py
  src/therobotoverlord_api/services/loyalty_score_service.py
  src/therobotoverlord_api/services/queue_service.py
  src/therobotoverlord_api/workers/base.py
  src/therobotoverlord_api/workers/leaderboard_worker.py
  src/therobotoverlord_api/workers/scheduler.py
  tests/services/test_appeal_service_editing.py
  tests/test_api/test_topics_comprehensive.py
  tests/test_database/test_loyalty_score_repository.py
  tests/test_services/test_appeal_service.py
  tests/test_services/test_queue_service.py
  tests/test_services/test_queue_service_simple.py
  tests/test_workers/test_base.py
  tests/test_workers/test_post_worker.py
  tests/test_workers/test_private_message_worker.py
  tests/test_workers/test_topic_worker.py
Due: ty, mypy, pyright, bandit

Path conditions:
  ty: any of: \.py$
  mypy: any of: \.py$
  pyright: any of: \.py$
  bandit: any of: \.py$, but not: ^tests/
