Repository joshSzep/therobotoverlord-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, mypy, pyright, bandit

ty:
  name: ty
  entry: uv run ty check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - --ignore-missing-imports
  - --show-error-codes
  - --explicit-package-bases

pyright:
  name: pyright
  entry: uv run pyright
  language: system

bandit:
  name: bandit
  entry: uv run bandit
  language: system
  args:
  - -r
  - src/
  - -f
  - json
  - --ini
  - .bandit
  pass_filenames: false

feat: Add comprehensive test coverage for messages API
  scripts/test.sh
  src/therobotoverlord_api/database/repositories/private_message.py
  tests/test_api/test_messages.py
  tests/test_database/test_repositories/test_private_message.py
  tests/test_workers/test_private_message_worker.py
Due: ty, mypy, pyright, bandit

feat: dramatically improve private messaging test coverage
  tests/test_database/test_repositories/test_private_message.py
Due: ty, mypy, pyright

Fix leaderboard test failures and type checking errors
  migrations/004_leaderboard_system.sql
  src/therobotoverlord_api/api/leaderboard.py
  src/therobotoverlord_api/database/models/leaderboard.py
  src/therobotoverlord_api/database/repositories/leaderboard.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/leaderboard_service.py
  tests/fixtures/leaderboard_fixtures.py
  tests/test_leaderboard_api.py
  tests/test_leaderboard_integration.py
  tests/test_leaderboard_models.py
  tests/test_leaderboard_performance.py
  tests/test_leaderboard_repository.py
  tests/test_leaderboard_service.py
Due: ty, mypy, pyright, bandit

Fixes
  pyproject.toml
  src/therobotoverlord_api/api/leaderboard.py
  src/therobotoverlord_api/database/repositories/leaderboard.py
  tests/fixtures/__init__.py
  tests/fixtures/leaderboard_fixtures.py
  tests/test_leaderboard_api.py
  tests/test_leaderboard_integration.py
  tests/test_leaderboard_models.py
  tests/test_leaderboard_performance.py
  tests/test_leaderboard_repository.py
  tests/test_leaderboard_service.py
Due: ty, mypy, pyright, bandit

Fix exception handling in leaderboard API endpoints
  src/therobotoverlord_api/api/leaderboard.py
Due: ty, mypy, pyright, bandit

feat: Add loyalty score system with comprehensive testing
  migrations/006_loyalty_score_system.sql
  pyproject.toml
  src/therobotoverlord_api/api/leaderboard.py
  src/therobotoverlord_api/api/loyalty_score.py
  src/therobotoverlord_api/api/posts.py
  src/therobotoverlord_api/api/topics.py
  src/therobotoverlord_api/auth/middleware.py
  src/therobotoverlord_api/auth/service.py
  src/therobotoverlord_api/database/models/__init__.py
  src/therobotoverlord_api/database/models/loyalty_score.py
  src/therobotoverlord_api/database/repositories/loyalty_score.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/loyalty_score_service.py
  tests/test_api/test_posts_comprehensive.py
  tests/test_api/test_topics_comprehensive.py
  tests/test_api/test_tos_screening.py
  tests/test_leaderboard_service.py
Due: ty, mypy, pyright, bandit

Add comprehensive test coverage for loyalty score service and repository
  tests/test_database/test_loyalty_score_repository.py
  tests/test_services/test_loyalty_score_service.py
Due: ty, mypy, pyright

Add comprehensive test coverage for appeal service
  migrations/008_appeals_system.sql
  src/therobotoverlord_api/api/appeals.py
  src/therobotoverlord_api/auth/dependencies.py
  src/therobotoverlord_api/database/models/appeal.py
  src/therobotoverlord_api/database/models/loyalty_score.py
  src/therobotoverlord_api/database/repositories/appeal.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/appeal_service.py
  src/therobotoverlord_api/services/loyalty_score_service.py
  src/therobotoverlord_api/services/queue_service.py
  tests/test_services/test_appeal_service.py
Due: ty, mypy, pyright, bandit

Fix failing authentication and content restoration tests
  migrations/009_content_versioning_system.sql
  src/therobotoverlord_api/api/appeals.py
  src/therobotoverlord_api/database/models/__init__.py
  src/therobotoverlord_api/database/models/appeal_with_editing.py
  src/therobotoverlord_api/database/models/content_version.py
  src/therobotoverlord_api/database/repositories/content_version.py
  src/therobotoverlord_api/services/appeal_service.py
  src/therobotoverlord_api/services/content_restoration_service.py
  src/therobotoverlord_api/services/content_versioning_service.py
  tests/api/__init__.py
  tests/api/test_appeals_editing.py
  tests/conftest.py
  tests/services/__init__.py
  tests/services/test_appeal_service_editing.py
  tests/services/test_content_restoration_service.py
  tests/services/test_content_versioning_service.py
Due: ty, mypy, pyright, bandit

fix: resolve pre-commit errors
  src/therobotoverlord_api/api/appeals.py
  src/therobotoverlord_api/database/repositories/content_version.py
  src/therobotoverlord_api/services/appeal_service.py
  src/therobotoverlord_api/services/content_restoration_service.py
  src/therobotoverlord_api/services/content_versioning_service.py
  tests/api/test_appeals_editing.py
  tests/conftest.py
  tests/services/test_appeal_service_editing.py
  tests/services/test_content_restoration_service.py
  tests/services/test_content_versioning_service.py
Due: ty, mypy, pyright, bandit

Fix translation service and leaderboard API issues
  migrations/010_enhance_translations_table.sql
  src/therobotoverlord_api/api/posts.py
  src/therobotoverlord_api/api/translations.py
  src/therobotoverlord_api/database/models/translation.py
  src/therobotoverlord_api/database/repositories/translation.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/translation_service.py
Due: ty, mypy, pyright, bandit

feat: Add comprehensive RBAC system implementation
  migrations/011_add_rbac_system.sql
  src/therobotoverlord_api/api/rbac.py
  src/therobotoverlord_api/database/models/rbac.py
  src/therobotoverlord_api/database/repositories/rbac.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/rbac_service.py
  tests/test_api/test_rbac.py
  tests/test_database/test_models/test_rbac.py
  tests/test_database/test_repositories/test_rbac.py
  tests/test_services/test_rbac_service.py
Due: ty, mypy, pyright, bandit

Fix pre-commit checks: resolve import organization and exception handling
  src/therobotoverlord_api/api/rbac.py
  tests/test_api/test_rbac.py
  tests/test_services/test_rbac_service.py
Due: ty, mypy, pyright, bandit

feat: implement comprehensive badge system
  migrations/012_add_badge_system.sql
  src/therobotoverlord_api/api/badges.py
  src/therobotoverlord_api/database/models/__init__.py
  src/therobotoverlord_api/database/models/badge.py
  src/therobotoverlord_api/database/repositories/badge.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/badge_service.py
  tests/test_database/test_models/test_badge.py
Due: ty, mypy, pyright, bandit

Add comprehensive test suite and auth service enhancements
  scripts/test.sh
  src/therobotoverlord_api/auth/adjectives.py
  src/therobotoverlord_api/auth/nouns.py
  src/therobotoverlord_api/auth/service.py
  tests/api/test_appeals_comprehensive.py
  tests/api/test_appeals_edge_cases.py
  tests/api/test_appeals_moderator.py
  tests/conftest.py
  tests/test_api/test_badges_coverage.py
  tests/test_api/test_badges_simple.py
  tests/test_api/test_loyalty_score_coverage.py
  tests/test_api/test_loyalty_score_simple.py
  tests/test_api/test_queue_coverage.py
  tests/test_api/test_translations_coverage.py
  tests/test_auth/test_auth_service_comprehensive.py
  tests/test_auth/test_auth_service_targeted.py
  tests/test_repositories/test_appeal_repository_comprehensive.py
  tests/test_repositories/test_badge_repository_simple.py
  tests/test_repositories/test_content_version_repository_comprehensive.py
  tests/test_repositories/test_content_version_repository_simple.py
  tests/test_repositories/test_translation_repository_simple.py
  tests/test_services/test_badge_service_comprehensive.py
  tests/test_services/test_badge_service_simple.py
  tests/test_services/test_content_restoration_service_simple.py
  tests/test_services/test_queue_service_simple.py
  tests/test_services/test_translation_service_comprehensive.py
Due: ty, mypy, pyright, bandit

tests
  tests/api/test_appeals_comprehensive.py
  tests/api/test_appeals_edge_cases.py
  tests/api/test_appeals_moderator.py
  tests/conftest.py
  tests/test_api/test_badges_coverage.py
  tests/test_api/test_badges_simple.py
  tests/test_api/test_loyalty_score_coverage.py
  tests/test_api/test_loyalty_score_simple.py
  tests/test_api/test_queue_coverage.py
  tests/test_api/test_translations_coverage.py
  tests/test_auth/test_auth_service_comprehensive.py
  tests/test_auth/test_auth_service_targeted.py
  tests/test_repositories/__init__.py
  tests/test_repositories/test_appeal_repository_comprehensive.py
  tests/test_repositories/test_badge_repository_simple.py
  tests/test_repositories/test_content_version_repository_comprehensive.py
  tests/test_repositories/test_content_version_repository_simple.py
  tests/test_repositories/test_translation_repository_simple.py
  tests/test_services/test_badge_service_comprehensive.py
  tests/test_services/test_badge_service_simple.py
  tests/test_services/test_content_restoration_service_simple.py
  tests/test_services/test_queue_service_simple.py
  tests/test_services/test_translation_service_comprehensive.py
Due: ty, mypy, pyright

Fix HTTPException type annotations in test files
  tests/test_api/test_badges_simple.py
  tests/test_api/test_loyalty_score_simple.py
  tests/test_repositories/test_appeal_repository_comprehensive.py
Due: ty, mypy, pyright

Add type ignore comments for User mock objects in tests
  tests/test_api/test_badges_simple.py
  tests/test_api/test_loyalty_score_simple.py
Due: ty, mypy, pyright

Fix type errors and linting issues in test files
  pyproject.toml
  tests/test_api/test_badges_simple.py
  tests/test_api/test_loyalty_score_simple.py
  tests/test_services/test_translation_service_comprehensive.py
Due: ty, mypy, pyright

Add comprehensive queue tests and update badge/queue service tests
  tests/test_api/test_queue_comprehensive.py
  tests/test_repositories/test_badge_repository_simple.py
  tests/test_services/test_queue_service_simple.py
Due: ty, mypy, pyright

Fix type errors and improve code formatting
  migrations/013_add_tag_system.sql
  src/therobotoverlord_api/api/tags.py
  src/therobotoverlord_api/api/topics.py
  src/therobotoverlord_api/auth/middleware.py
  src/therobotoverlord_api/database/models/__init__.py
  src/therobotoverlord_api/database/models/tag.py
  src/therobotoverlord_api/database/models/topic.py
  src/therobotoverlord_api/database/repositories/__init__.py
  src/therobotoverlord_api/database/repositories/tag.py
  src/therobotoverlord_api/database/repositories/topic.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/tag_service.py
  tests/fixtures/tag_fixtures.py
  tests/test_api/test_tags.py
  tests/test_api/test_tags_auth_fixed.py
  tests/test_api/test_tags_fixed_auth.py
  tests/test_api/test_tags_minimal.py
  tests/test_api/test_topics_comprehensive.py
  tests/test_api/test_topics_enhanced.py
  tests/test_database/test_models/test_tag.py
  tests/test_integration/__init__.py
  tests/test_services/test_tag_service.py
Due: ty, mypy, pyright, bandit

Fix pyright type checking errors in Flag model instantiations
  migrations/008_add_flag_system.sql
  src/therobotoverlord_api/api/flags.py
  src/therobotoverlord_api/database/models/__init__.py
  src/therobotoverlord_api/database/models/flag.py
  src/therobotoverlord_api/database/repositories/flag.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/flag_service.py
  tests/conftest.py
  tests/test_api/test_flags.py
  tests/test_database/test_models/test_flag.py
  tests/test_database/test_repositories/test_flag.py
  tests/test_edge_cases/__init__.py
  tests/test_edge_cases/test_flag_edge_cases.py
  tests/test_integration/test_flag_loyalty_integration.py
  tests/test_services/test_flag_service.py
  uv.lock
Due: ty, mypy, pyright, bandit

Fix User Management API tests
  src/therobotoverlord_api/api/users.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/user_service.py
  tests/test_api/test_users.py
  tests/test_services/test_user_service.py
Due: ty, mypy, pyright, bandit

Implement complete Sanctions System for user moderation enforcement
  migrations/014_add_sanction_system.sql
  src/therobotoverlord_api/api/sanctions.py
  src/therobotoverlord_api/database/models/__init__.py
  src/therobotoverlord_api/database/models/sanction.py
  src/therobotoverlord_api/database/repositories/sanction.py
  src/therobotoverlord_api/database/repositories/user.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/sanction_service.py
Due: ty, mypy, pyright, bandit

Fix linting issues in Sanctions System
  src/therobotoverlord_api/api/sanctions.py
  src/therobotoverlord_api/database/models/__init__.py
  src/therobotoverlord_api/database/repositories/sanction.py
  src/therobotoverlord_api/services/sanction_service.py
Due: ty, mypy, pyright, bandit

fix: resolve admin dashboard test failures and lint issues
  migrations/015_add_admin_dashboard_system.sql
  src/therobotoverlord_api/api/admin.py
  src/therobotoverlord_api/database/models/__init__.py
  src/therobotoverlord_api/database/models/admin_action.py
  src/therobotoverlord_api/database/models/dashboard_snapshot.py
  src/therobotoverlord_api/database/models/system_announcement.py
  src/therobotoverlord_api/database/repositories/admin_action.py
  src/therobotoverlord_api/database/repositories/dashboard.py
  src/therobotoverlord_api/database/repositories/system_announcement.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/dashboard_service.py
  tests/test_admin_dashboard_basic.py
  tests/test_api/test_admin_dashboard.py.disabled
  tests/test_repositories/test_admin_action_repository.py.disabled
  tests/test_repositories/test_admin_action_repository_disabled.py
  tests/test_repositories/test_dashboard_repository_simple.py.disabled
  tests/test_repositories/test_system_announcement_repository.py.disabled
  tests/test_services/test_dashboard_service.py.disabled
Due: ty, mypy, pyright, bandit

feat: Complete WebSocket integration across all API systems
  migrations/016_add_overlord_chat_messages.sql
  src/therobotoverlord_api/api/websocket.py
  src/therobotoverlord_api/auth/service.py
  src/therobotoverlord_api/database/repositories/system_announcement.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/badge_service.py
  src/therobotoverlord_api/services/moderation_service.py
  src/therobotoverlord_api/services/queue_service.py
  src/therobotoverlord_api/websocket/__init__.py
  src/therobotoverlord_api/websocket/auth.py
  src/therobotoverlord_api/websocket/chat_handler.py
  src/therobotoverlord_api/websocket/events.py
  src/therobotoverlord_api/websocket/manager.py
  src/therobotoverlord_api/websocket/models.py
  tests/test_auth/test_auth_service_targeted.py
  tests/test_services/test_badge_service_simple.py
  tests/test_services/test_queue_service.py
Due: ty, mypy, pyright, bandit

Fix pyright type errors and queue service WebSocket test failures
  src/therobotoverlord_api/api/websocket.py
  src/therobotoverlord_api/auth/service.py
  src/therobotoverlord_api/database/models/user.py
  src/therobotoverlord_api/database/repositories/system_announcement.py
  src/therobotoverlord_api/services/badge_service.py
  src/therobotoverlord_api/services/moderation_service.py
  src/therobotoverlord_api/services/queue_service.py
  src/therobotoverlord_api/websocket/auth.py
  src/therobotoverlord_api/websocket/chat_handler.py
  src/therobotoverlord_api/websocket/events.py
  src/therobotoverlord_api/websocket/manager.py
  src/therobotoverlord_api/websocket/models.py
  tests/test_auth/test_auth_service_targeted.py
  tests/test_services/test_badge_service_simple.py
  tests/test_services/test_badge_service_websocket.py
  tests/test_services/test_moderation_service_websocket.py
  tests/test_services/test_queue_service.py
  tests/test_services/test_queue_service_websocket.py
  tests/test_websocket/__init__.py
  tests/test_websocket/test_auth.py
  tests/test_websocket/test_chat_handler.py
  tests/test_websocket/test_events.py
  tests/test_websocket/test_manager.py
Due: ty, mypy, pyright, bandit

Remove outdated placeholder tests and fix worker test failures
  src/therobotoverlord_api/config/settings.py
  src/therobotoverlord_api/services/__init__.py
  src/therobotoverlord_api/services/ai_moderation_service.py
  src/therobotoverlord_api/services/llm_client.py
  src/therobotoverlord_api/services/prompt_service.py
  src/therobotoverlord_api/websocket/chat_handler.py
  src/therobotoverlord_api/workers/post_worker.py
  src/therobotoverlord_api/workers/private_message_worker.py
  src/therobotoverlord_api/workers/topic_worker.py
  tests/conftest.py
  tests/test_workers/test_post_worker.py
  tests/test_workers/test_private_message_worker.py
  tests/test_workers/test_topic_worker.py
Due: ty, mypy, pyright, bandit

Fix pre-commit hook issues
  src/therobotoverlord_api/config/settings.py
  src/therobotoverlord_api/services/llm_client.py
  src/therobotoverlord_api/services/prompt_service.py
Due: ty, mypy, pyright, bandit

Update .env.example with comprehensive configuration
  .env.example
Due: none

feat: Implement AI-powered ToS screening system
  prompts/components/system_instructions/tos_screening.md
  src/therobotoverlord_api/api/posts.py
  src/therobotoverlord_api/services/llm_client.py
  src/therobotoverlord_api/services/tos_screening_service.py
  tests/test_api/test_posts_comprehensive.py
  tests/test_api/test_tos_screening.py
Due: ty, mypy, pyright, bandit

Add multi-model LLM support with provider factory
  .env.example
  src/therobotoverlord_api/config/settings.py
  src/therobotoverlord_api/services/llm_client.py
  src/therobotoverlord_api/services/provider_factory.py
  src/therobotoverlord_api/services/translation_service.py
  tests/test_services/test_llm_multi_model.py
  tests/test_services/test_provider_factory.py
  tests/test_services/test_translation_service_comprehensive.py
Due: ty, mypy, pyright, bandit

Fix type errors and test failures in appeals system
  migrations/016_add_appeal_history_tracking.sql
  scripts/start_workers.py
  src/therobotoverlord_api/api/appeals_dashboard.py
  src/therobotoverlord_api/api/users.py
  src/therobotoverlord_api/database/models/appeal.py
  src/therobotoverlord_api/database/models/appeal_history.py
  src/therobotoverlord_api/database/repositories/appeal.py
  src/therobotoverlord_api/database/repositories/appeal_history_repository.py
  src/therobotoverlord_api/main.py
  src/therobotoverlord_api/services/appeal_service.py
  src/therobotoverlord_api/services/badge_service.py
  src/therobotoverlord_api/services/dashboard_service.py
  src/therobotoverlord_api/services/moderation_service.py
  src/therobotoverlord_api/services/user_service.py
  src/therobotoverlord_api/websocket/models.py
  src/therobotoverlord_api/workers/analytics_worker.py
  src/therobotoverlord_api/workers/appeal_worker.py
  src/therobotoverlord_api/workers/base.py
  src/therobotoverlord_api/workers/health_monitor.py
  src/therobotoverlord_api/workers/topic_worker.py
  tests/api/test_appeals_moderator.py
  tests/services/test_appeal_service_editing.py
  tests/test_api/test_users.py
  tests/test_repositories/test_appeal_repository_comprehensive.py
  tests/test_services/test_user_service.py
  tests/test_workers/test_topic_worker.py
Due: ty, mypy, pyright, bandit

Remove alias fields from AppealStats model
  src/therobotoverlord_api/api/appeals_dashboard.py
  src/therobotoverlord_api/database/models/appeal.py
  src/therobotoverlord_api/database/repositories/appeal.py
  tests/api/test_appeals_moderator.py
  tests/test_repositories/test_appeal_repository_comprehensive.py
Due: ty, mypy, pyright, bandit

Add comprehensive prompt system components and update queue service
  TODO.md
  prompts/components/examples/feedback_responses/praise_example.md
  prompts/components/examples/feedback_responses/violation_example.md
  prompts/components/examples/overlord_chat/conversation_01.md
  prompts/components/examples/overlord_chat/conversation_02.md
  prompts/components/examples/overlord_chat/conversation_03.md
  prompts/components/examples/overlord_commentary/queue_status_01.md
  prompts/components/examples/overlord_commentary/system_announcement_01.md
  prompts/components/examples/sanction_notifications/temporary_restriction_example.md
  prompts/components/examples/sanction_notifications/warning_example.md
  prompts/components/examples/tag_assignment/example_01.md
  prompts/components/examples/tag_assignment/example_02.md
  prompts/components/examples/tag_assignment/example_03.md
  prompts/components/examples/tos_screening/example_01.md
  prompts/components/examples/tos_screening/example_02.md
  prompts/components/examples/tos_screening/example_03.md
  prompts/components/principles/content_safety_standards.md
  prompts/components/principles/topic_quality_standards.md
  prompts/components/rules/tag_assignment_criteria.md
  prompts/components/rules/topic_rejection_criteria.md
  prompts/components/rules/tos_violation_types.md
  prompts/components/system_instructions/feedback_generation.md
  prompts/components/system_instructions/overlord_chat_personality.md
  prompts/components/system_instructions/overlord_help_responses.md
  prompts/components/system_instructions/queue_commentary.md
  prompts/components/system_instructions/queue_status_commentary.md
  prompts/components/system_instructions/sanction_notifications.md
  prompts/components/system_instructions/system_announcements.md
  prompts/components/system_instructions/tag_assignment.md
  src/therobotoverlord_api/services/queue_service.py
  tests/test_api/test_topics_comprehensive.py
  tests/test_database/test_loyalty_score_repository.py
  tests/test_leaderboard_integration.py
  tests/test_services/test_loyalty_score_service.py
  tests/test_services/test_queue_service_websocket.py
Due: ty, mypy, pyright, bandit

Delete that junk
  TODO.md
Due: none

feat: implement comprehensive rate limiting system
  src/therobotoverlord_api/api/admin.py
  src/therobotoverlord_api/api/auth.py
  src/therobotoverlord_api/api/rbac.py
  src/therobotoverlord_api/api/sanctions.py
  src/therobotoverlord_api/auth/rate_limiting.py
  src/therobotoverlord_api/config/rate_limiting.py
  src/therobotoverlord_api/services/rate_limiting_service.py
Due: ty, mypy, pyright, bandit

Remove appeal history and chat migrations, add Docker orchestration scripts
  .dockerignore
  Dockerfile
  README-DOCKER.md
  README.md
  docker-compose.yml
  justfile
  migrations/001_initial_schema.sql
  migrations/002_seed_data.sql
  migrations/003_add_user_sessions.sql
  migrations/004_add_tos_violation_fields.sql
  migrations/004_leaderboard_system.sql
  migrations/005_add_tos_screening_queue.sql
  migrations/006_loyalty_score_system.sql
  migrations/008_add_flag_system.sql
  migrations/008_appeals_system.sql
  migrations/009_content_versioning_system.sql
  migrations/010_enhance_translations_table.sql
  migrations/011_add_rbac_system.sql
  migrations/012_add_badge_system.sql
  migrations/013_add_tag_system.sql
  migrations/014_add_sanction_system.sql
  migrations/015_add_admin_dashboard_system.sql
  migrations/016_add_appeal_history_tracking.sql
  migrations/016_add_overlord_chat_messages.sql
  scripts/run_docker.sh
  scripts/start_api.sh
  scripts/start_workers.sh
Due: none

Update API endpoints and repositories for posts and topics
  src/therobotoverlord_api/api/posts.py
  src/therobotoverlord_api/api/topics.py
  src/therobotoverlord_api/auth/middleware.py
  src/therobotoverlord_api/database/repositories/post.py
  src/therobotoverlord_api/database/repositories/topic.py
Due: ty, mypy, pyright, bandit

Path conditions:
  ty: any of: \.py$
  mypy: any of: \.py$
  pyright: any of: \.py$
  bandit: any of: \.py$, but not: ^tests/
